body {
    background:  #001e4d;
    font-family: ariel;
    text-align: center;
}

#wrapper{
    background: #fff;
    width: 90%;
    max-width: 600px;
    margin: 100px auto 0;
    border-radius: 10px;
    padding: 30px;
    gap: 20px;
  }
#wrapper h1{
  background:  #fff;
  border-radius: 10px;
  padding: 10px;
  
}
/*#wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px; /* Add gap between flex items */
}


#wrapper div, #wrapper ul {
    width: 70%; /* Increase width to allow for longer questions and answers */
    max-width: 600px; /* Increase max-width */
}

ul {
    padding: 0;
}
#normal-btn{
    background: #001e4d;
    color: #fff;
    font-weight: 500;
    width: 150px;
    border: 0;
    padding: 10px;
    margin: 20px auto 0;
    border-radius: 4px;
    cursor: pointer;
    display: ;
  }
#hard-btn{
    background: #001e4d;
    color: #fff;
    font-weight: 500;
    width: 150px;
    border: 0;
    padding: 10px;
    margin: 20px auto 0;
    border-radius: 4px;
    cursor: pointer;
    display: ;
  }

#title {
    font-size: 24px; /* Increase font size for the question */
    font-weight: bold;
    background: #fff;
    border: 3px solid black; /* Add border for better visibility */
    padding: 20px; /* Increase padding for more space */
    margin-bottom: 20px; /* Add margin below title */
} 

#header {
    background: #001e4d;
    border: 3px solid black;
    padding: 10px;
    margin-bottom: 20px; /* Add margin below header */
}

.alternative {
    background:  #001e4d;
    color: #fff;
    font-weight: 500;
    width: 100%;
    border: 1px solid #222;
    padding: 10px;
    margin: 10px 0;
    text-align: left;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s;
}


.alternative:hover {
    cursor: pointer;
    opacity: 0.8;
  background: #116;
    color: #fff;
}

#result {
    font-weight: bold;
    margin-top: 20px; /* Add margin above result */
}

#score, #result {
    color: black;
}

#score {
    margin-top: 20px; /* Add margin above score */
  
}

#image-placeholder {
    width: 33%; /* Set width to 33% of the screen */
    margin-top: 20px; /* Add margin above the image placeholder */
}

#image-placeholder img {
    width: 100%; /* Ensure the image takes up the full width of the placeholder */
    height: auto; /* Maintain aspect ratio */
}